@font-face {
  font-family: 'GrandSlang-Roman';
  src: url('./fonts/GrandSlang-Roman.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat-Italic';
  src: url('./fonts/Montserrat-Italic-VariableFont_wght.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Montserrat';
  src: url('./fonts/Montserrat-VariableFont_wght.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

:root {
  --font-grand-slang: 'GrandSlang-Roman', sans-serif;
  --font-montserrat-italic: 'Montserrat-Italic', sans-serif;
  --font-montserrat: 'Montserrat', sans-serif;
}

* {
  box-sizing: border-box;
}

body {
  background-color: #ece7e1;
  font-family: 'GrandSlang-Roman', sans-serif;
  color: #1a1818;
}

.container {
  z-index: 500;
  position: relative;
}

.section-left.section-long {
  width: 100%;
  height: auto;
  max-width: 768px;
  padding-top: 10%;
  padding-bottom: 12%;
  position: relative;
}

.header-container {
  display: flex;
  align-items: center;
}

.team-logo {
  max-width: 50%;
  min-width: 50%;
  height: auto;
}

.align-left {
  text-align: left;
}

.header {
  font-size: 14vw;
  letter-spacing: 0;
  text-transform: none;
  font-weight: 300;
  line-height: 1em;
  position: relative;

}

h1 {
  margin: 52px 0 35px;
}

.wrapper {
  max-width: 90%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 10%;
  padding-right: 5%;
}

#loading-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0);
  z-index: 1000;
  transition: transform 1s ease-in-out;
  transform: translateY(0);
}

.loaded #loading-screen {
  transform: translateY(-100%);
}

.description {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  line-height: 1.9em;

}

.quote {
  padding-bottom: 2%;
  font-family: 'GrandSlang-Roman', sans-serif;
  font-size: 46px;
  font-weight: 300;
  line-height: 1.3em;
  display: block;
}

@keyframes slideIn {
  from {
    transform: translateY(100%);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.slide-in {
  animation: slideIn 1s ease-in-out;
  animation-delay: 0.7s;

}

.description-left {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  margin-bottom: 5%;
  .text {
    max-width: 50%;
    margin: 0;
    padding: 10px;
  }
  .head-image {
    max-width: 50%;
    height: auto;
    border-radius: 15px;
    object-fit: cover;

  }
}

.description-right {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 5%;
  position: relative;
  .text {
    order: 2;
    max-width: 50%;
    margin: 0;
    padding: 10px;
  }

  .head-image {
    max-width: 50%;
    height: auto;
    object-fit: cover;
    order: 1;
    border-radius: 15px;

  }
}

body {
  position: relative;
}

.blur-top,
.blur-bottom {
  position: fixed;
  left: 0;
  right: 0;
  height: 50px;
  pointer-events: none;
  z-index: 9999;
}

.blur-top {
  top: 0;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.8), transparent);
}

.blur-bottom {
  bottom: 0;
  background: linear-gradient(to top, rgba(255, 255, 255, 0.8), transparent);
}